@page
@model MyApp.Namespace.StockModel
@{
    ViewData["Title"] = "Stock page";
}

<div class="text-center">
    <h1 class="display-4">Stock</h1>
    <p>Browse stock online for purchase in store!</p>
</div>

<div class="container row justify-content-center">
    @foreach(var guitar in @Model.Guitars)
    {
        
        <div class="border no-border m-3" style="width: 22rem;">
            <div class="p-2">
            <div class="row no-gutters">
               <div class="col-md-4">
            <img class="card-img" style="height: 50px, width: 50px, object-fit: scale-down;" src="@guitar.ImageSrc" alt="@guitar.Name" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@guitar.Name</h5>
                <h4>£@guitar.Price</h4>
                <p class=@(guitar.Available ? "text-success" : "text-danger")> @(guitar.Available ? "Available" : "Out Of Stock")</p>
                <a asp-page="/Info" asp-route-name=@guitar.Name class="btn btn-warning">More Info</a>
            </div>
        </div>
            </div>
            </div>
        </div>
        
    }
</div>

<div class="container row justify-content-center p-5">
    <a asp-page="/Index" class="btn btn-warning w-25">Back</a>
</div>
